body {
    background-color: #F1F1F1;
}
@media screen and (min-width:710px) {
    .main {
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 60px;
    }
}

@media screen and (max-width:710px) {
    .main {
        margin: 95px 20px 0 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 60px;
        
    }
}













